/* font link */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* hero section styles */
#hero{
    height: 600px;
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17)
            ,rgba(7, 2, 17, 0) 100%),
            url(../images/Banner\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 16px;
    margin: 50px auto;
    max-width: 1320px;
}

#hero .sub-title{
    font-family: "Merriweather", serif;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}

#hero .title{
    font-family: "Merriweather", serif;
    color: #FFFFFF;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    letter-spacing: 0%;
    text-align: center;
}

/* celebration section styles */
#celebrate{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 16px;
    margin: 0 auto;
    max-width: 1320px
}

#celebrate .title{
    color: #FF0000;
    font-family: "Inter", sans-serif;
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    letter-spacing: 0%;
    text-align: center;
    padding-bottom:48px;
    margin-top:120px ;
}

#celebrate .description{
    color: rgb(255, 0, 0);
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
}

#celebrate .sub-title{
    color: rgb(7, 2, 17);
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
    padding:15px 0px 48px;
}


/* event banner section styles */
#banner{
    height: 600px;
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17),
    rgba(7, 2, 17, 0) 100%), url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    max-width:1320px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px auto;
    border-radius: 16px;

}

#banner .banner-contain{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 126px;
}


.banner-content .title{
    color: #FFFFFF;
    font-family: "Merriweather", serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 11%;
    text-align: left;
}

.banner-content .description{
    color: rgba(255, 255, 255, 0.8);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    padding: 20px 0;

}

.banner-content a{
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.banner-contain .image{
    max-width:349px ;
}

/* location info section style */

#location{
    height: 482px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),
            rgba(255, 0, 0, 0) 100%);
    border-radius: 16px;
    max-width: 1320px;
    display: flex;
    justify-content: center;
    align-items: center;  
    margin: 120px auto;
}


#location .info p{
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    color:#070211;
}

#location .info span{
    color: #FF0000;
}

#location .info-btn a{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    text-align: center;
    text-transform: uppercase;
}

#location .info .info-btn{
    border: none;
    border-radius: 8px;
    background: #FF0000;
    padding: 16px 32px 16px 32px;
    margin: 64px 223px 0 223px;
}


/* coming offers section style */

#coming-offer{
    background: rgba(255, 255, 255, 1);
    border-radius: 16px;
    display: flex;
    justify-content:center;
    align-items: center;
    max-width: 1320px;
    height: 733px;
    margin: 120px auto;
}

#coming-offer .offers-container{
    display: flex;
    justify-content: space-between;
}


#coming-offer .best-offer .sub-title{
    color: rgba(255, 0, 0, 1);
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
}

#coming-offer .best-offer .title{
    color: rgba(7, 2, 17, 1);
    font-family: "Merriweather", serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    text-align: left;
    text-transform: capitalize;
    margin: 16px 0 22px 0;
}

#coming-offer .best-offer .description{
    color: rgba(7, 2, 17, 0.6);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}

#coming-offer .image{
    border: 15px solid rgba(255, 0, 0, 1);
    border-radius: 50%;
   padding: 25px; 
   margin: 0 100px;
}

#coming-offer .next-year .title{
    color: rgba(255, 0, 0, 1);
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: left;
}

#coming-offer .next-year .description{
    color: rgba(7, 2, 17, 0.6);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
    margin: 16px 0 22px 0;
}